<mat-nav-list [@slide]="sidepanel.state | async">
    <a mat-list-item routerLink="/home" routerLinkActive="active" [@slide]="state">
        <mat-icon matTooltip="Home" matTooltipPosition="right" [matTooltipDisabled]="state !== 'thin'">home</mat-icon> <span [@reveal]="state">Home</span>
    </a>
    <a mat-list-item routerLink="/calendar3" routerLinkActive="active" [@slide]="state">
        <mat-icon matTooltip="Calendar3" matTooltipPosition="right" [matTooltipDisabled]="state !== 'thin'">date_range</mat-icon> <span [@reveal]="state">Calendar3</span>
    </a>
</mat-nav-list>