<!--<h2 class="todaydate">TODAY: &ensp;{{dateService.datedata.today | date:'fullDate'}}</h2>-->
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Select Date"
           (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="example-events">
    <div *ngFor="let e of events">{{e}}</div>
</div>

<!--<h2>{{dateService.datedata.daysOfMonth}} &ensp; days in the current month of &ensp; {{dateService.datedata.todayMonth}}</h2>-->
<h2 class="todaydate" *ngIf="selectedDate">{{daysOfSelectedMonth}}&ensp;days in the month of&ensp;{{mmmSelectedMonth}}&ensp;{{selectedYear}}</h2>
<h2 class="todaydate" *ngIf="selectedDate">The first of the month is on a&ensp;{{mmmDayofFirstMonth}}</h2>
<section class="container">
    <table class="cal">
        <caption>
            <span class="prev"><a href="index.html">&larr;</a></span>
            <span class="next"><a href="index.html">&rarr;</a></span>
            <h2 class="todaydate">{{todayMonth}}&ensp;{{todayYear}}</h2>
        </caption>
        <thead>
            <tr>
                <th class="month">Mon</th>
                <th class="month">Tue</th>
                <th class="month">Wed</th>
                <th class="month">Thu</th>
                <th class="month">Fri</th>
                <th class="month">Sat</th>
                <th class="month">Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="backward"><a href="index.html">26</a></td>
                <td class="backward"><a href="index.html">27</a></td>
                <td class="backward"><a href="index.html">28</a></td>
                <td class="backward"><a href="index.html">29</a></td>
                <td class="backward"><a href="index.html">30</a></td>
                <td class="backward"><a href="index.html">31</a></td>
                <td class="current"><a href="index.html">1</a></td>
            </tr>
            <tr>
                <td class="current"><a href="index.html">2</a></td>
                <td class="current"><a href="index.html">3</a></td>
                <td class="current"><a href="index.html">4</a></td>
                <td class="current"><a href="index.html">5</a></td>
                <td class="current"><a href="index.html">6</a></td>
                <td class="current"><a href="index.html">7</a></td>
                <td class="current"><a href="index.html">8</a></td>
            </tr>
            <tr>
                <td class="current"><a href="index.html">9</a></td>
                <td class="current"><a href="index.html">10</a></td>
                <td class="current"><a href="index.html">11</a></td>
                <td class="current"><a href="index.html">12</a></td>
                <td class="current"><a href="index.html">13</a></td>
                <td class="current"><a href="index.html">14</a></td>
                <td class="current"><a href="index.html">15</a></td>
            </tr>
            <tr>
                <td class="current"><a href="index.html">16</a></td>
                <td class="current"><a href="index.html">17</a></td>
                <td class="current"><a href="index.html">18</a></td>
                <td class="current"><a href="index.html">19</a></td>
                <td class="current"><a href="index.html">20</a></td>
                <td class="current"><a href="index.html">21</a></td>
                <td class="current"><a href="index.html">22</a></td>
            </tr>
            <tr>
                <td class="current"><a href="index.html">23</a></td>
                <td class="current"><a href="index.html">24</a></td>
                <td class="current"><a href="index.html">25</a></td>
                <td class="current"><a href="index.html">26</a></td>
                <td class="current"><a href="index.html">27</a></td>
                <td class="active"><a href="index.html">28</a></td>
                <td class="current"><a href="index.html">29</a></td>
            </tr>
            <tr>
                <td class="current"><a href="index.html">30</a></td>
                <td class="current"><a href="index.html">31</a></td>
                <td class="forward"><a href="index.html">1</a></td>
                <td class="forward"><a href="index.html">2</a></td>
                <td class="forward"><a href="index.html">3</a></td>
                <td class="forward"><a href="index.html">4</a></td>
                <td class="forward"><a href="index.html">5</a></td>
            </tr>
        </tbody>
    </table>
</section>

